In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101',periods=6)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01 -0.412186  1.131123 -0.654169  1.249645
2013-01-02  1.614904 -0.080748 -0.068667  0.716593
2013-01-03 -1.111744  0.675901 -0.149572  0.251863
2013-01-04 -0.018364 -0.243259 -0.453185  0.956788
2013-01-05 -0.122194  1.593887 -1.604677  0.727561
2013-01-06 -0.591449 -0.993222 -0.987065 -0.697072

In [14]:
df2 = pd.DataFrame({'A' : 1.,
                   'B' : pd.Timestamp('20130102'),
                   'C' : pd.Series(1,index=list(range(4)),dtype='float'),
                   'D' : np.array([3]*4,dtype='int32'),
                   'E' : pd.Categorical(["test","tran","test","tran"]),
                   'F' : 'foo' })

In [15]:
df2

     A          B    C  D     E    F
0  1.0 2013-01-02  1.0  3  test  foo
1  1.0 2013-01-02  1.0  3  tran  foo
2  1.0 2013-01-02  1.0  3  test  foo
3  1.0 2013-01-02  1.0  3  tran  foo

In [16]:
df.head

<bound method NDFrame.head of                    A         B         C         D
2013-01-01 -0.412186  1.131123 -0.654169  1.249645
2013-01-02  1.614904 -0.080748 -0.068667  0.716593
2013-01-03 -1.111744  0.675901 -0.149572  0.251863
2013-01-04 -0.018364 -0.243259 -0.453185  0.956788
2013-01-05 -0.122194  1.593887 -1.604677  0.727561
2013-01-06 -0.591449 -0.993222 -0.987065 -0.697072>

In [17]:
df.tail

<bound method NDFrame.tail of                    A         B         C         D
2013-01-01 -0.412186  1.131123 -0.654169  1.249645
2013-01-02  1.614904 -0.080748 -0.068667  0.716593
2013-01-03 -1.111744  0.675901 -0.149572  0.251863
2013-01-04 -0.018364 -0.243259 -0.453185  0.956788
2013-01-05 -0.122194  1.593887 -1.604677  0.727561
2013-01-06 -0.591449 -0.993222 -0.987065 -0.697072>

In [18]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.018364 -0.243259 -0.453185  0.956788
2013-01-05 -0.122194  1.593887 -1.604677  0.727561
2013-01-06 -0.591449 -0.993222 -0.987065 -0.697072

In [19]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df.values

array([[-0.41218564,  1.13112299, -0.65416865,  1.24964543],
       [ 1.61490354, -0.08074773, -0.06866736,  0.71659277],
       [-1.11174355,  0.6759011 , -0.14957222,  0.25186321],
       [-0.01836447, -0.24325928, -0.45318537,  0.95678796],
       [-0.12219363,  1.59388685, -1.60467708,  0.72756083],
       [-0.59144934, -0.99322204, -0.9870652 , -0.69707179]])

In [22]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2013-01-01 -0.412186  1.131123 -0.654169  1.249645
2013-01-02  1.614904 -0.080748 -0.068667  0.716593
2013-01-03 -1.111744  0.675901 -0.149572  0.251863
2013-01-04 -0.018364 -0.243259 -0.453185  0.956788
2013-01-05 -0.122194  1.593887 -1.604677  0.727561
2013-01-06 -0.591449 -0.993222 -0.987065 -0.697072>

In [23]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.412186    1.614904   -1.111744   -0.018364   -0.122194   -0.591449
B    1.131123   -0.080748    0.675901   -0.243259    1.593887   -0.993222
C   -0.654169   -0.068667   -0.149572   -0.453185   -1.604677   -0.987065
D    1.249645    0.716593    0.251863    0.956788    0.727561   -0.697072

In [24]:
df.sort_index(axis=1,ascending='B')

                   A         B         C         D
2013-01-01 -0.412186  1.131123 -0.654169  1.249645
2013-01-02  1.614904 -0.080748 -0.068667  0.716593
2013-01-03 -1.111744  0.675901 -0.149572  0.251863
2013-01-04 -0.018364 -0.243259 -0.453185  0.956788
2013-01-05 -0.122194  1.593887 -1.604677  0.727561
2013-01-06 -0.591449 -0.993222 -0.987065 -0.697072

In [25]:
df['A']

2013-01-01   -0.412186
2013-01-02    1.614904
2013-01-03   -1.111744
2013-01-04   -0.018364
2013-01-05   -0.122194
2013-01-06   -0.591449
Freq: D, Name: A, dtype: float64

In [28]:
df[0:3]

                   A         B         C         D
2013-01-01 -0.412186  1.131123 -0.654169  1.249645
2013-01-02  1.614904 -0.080748 -0.068667  0.716593
2013-01-03 -1.111744  0.675901 -0.149572  0.251863

In [29]:
df.loc[dates[0]]

A   -0.412186
B    1.131123
C   -0.654169
D    1.249645
Name: 2013-01-01 00:00:00, dtype: float64

In [30]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -0.412186  1.131123
2013-01-02  1.614904 -0.080748
2013-01-03 -1.111744  0.675901
2013-01-04 -0.018364 -0.243259
2013-01-05 -0.122194  1.593887
2013-01-06 -0.591449 -0.993222

In [31]:
df.loc[dates[0],'A']

-0.4121856359690062

In [32]:
df.iloc[3]

A   -0.018364
B   -0.243259
C   -0.453185
D    0.956788
Name: 2013-01-04 00:00:00, dtype: float64

In [33]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04 -0.018364 -0.243259
2013-01-05 -0.122194  1.593887

In [34]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02  1.614904 -0.068667
2013-01-03 -1.111744 -0.149572
2013-01-05 -0.122194 -1.604677

In [35]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02  1.614904 -0.080748 -0.068667  0.716593
2013-01-03 -1.111744  0.675901 -0.149572  0.251863

In [36]:
df.iloc[1,1]

-0.08074772965771267